@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 47, 47, 47; /* #2F2F2F */
  --background-rgb: 255, 247, 229; /* #FFF7E5 */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #FFF7E5; /* Off-White / Cream */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

